body {
  background-color: pink; }
  h1 {
    color:rgb(0, 0, 0); 
    font-size: 30px; 
    font-family: georgia;
    }
h3 {
  color:rgb(0, 0, 0); 
    font-size: normal; 
    font-family: georgia;
    p {
      color:rgb(0, 0, 0);
      font-size:medium;
      font-family: georgia;
    }
iframe {
  <iframe src="demo_iframe.htm" height="5000" width="5000" title="Ecotree"></iframe>
  }
a:link {
  color: white ;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
/*Navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fdbfd3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f995b4;
}
/*Navigation bar end*/
