body {
  background-color: pink; }
  h1 {
    color:rgb(0, 0, 0); 
    font-size: 30px; 
    font-family: georgia;
    }
h3 {
  color:rgb(0, 0, 0); 
    font-size: normal; 
    font-family: georgia;
    p {
      color:rgb(0, 0, 0);
      font-size:medium;
      font-family: georgia;
    }
<style>
a:link {
  color:rgb(255, 225, 236);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color:rgb(255, 225, 236);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(255, 242, 246);
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: none;
}
</style>
