body {
  background-color: pink; }
  h1 {
    color:rgb(0, 0, 0); 
    font-size: 30px; 
    font-family: georgia;
    }
h3 {
  color:rgb(0, 0, 0); 
    font-size: normal; 
    font-family: georgia;
    p {
      color:rgb(0, 0, 0);
      font-size:medium;
      font-family: georgia;
    }
  
a:link {
  color:white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color:#ad5f5f;
  background-color: transparent;
  text-decoration: underline;
}

a:hover {
  color: rgb(255, 242, 246);
  background-color: transparent;
  text-decoration: wavy;
}

a:active {
  color: rgb(255, 255, 255);
  background-color: transparent;
  text-decoration: underline;
}
/*Navigation bar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fdbfd3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f995b4;
}
/*Navigation bar end*/
