body {
  background-color: pink; }
  h1 {
    color:rgb(0, 0, 0); 
    font-size: 30px; 
    font-family: philosopher;
    }
h3 {
  color:rgb(0, 0, 0); 
    font-size: normal; 
    font-family: philosopher;
    p {
      color:rgb(0, 0, 0);
      font-size:medium;
      font-family: philosopher;
    }

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

